.boxconteudo{
    background: white;
    padding: 1rem;
}




@media screen and (min-width: 0){
    .boxconteudo{
        margin: 2rem;
    }

    .boxconteudo:nth-child(1){
        margin-top: 2.5rem;
    }
    
    .boxconteudo:last-child{
        margin-bottom: 2.5rem;
    }
    
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 992px){
    .boxconteudo{
        margin: 2rem 0;
    }

    .boxconteudo:nth-child(1){
        margin-top: 3.5rem;
    }
    
    .boxconteudo:last-child{
        margin-bottom: 3.5rem;
    }
}

@media screen and (min-width: 1200px){
    
}