.conteudo__texto{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    color: #717171;
}

@media screen and (min-width: 0){
    .conteudo__texto{
        font-size: 0.85rem;
    }
}


@media screen and (min-width: 1200px){
    .conteudo__texto{
        font-size:1rem;
    }
}