.body{
 font-family: 'Lexend Deca', sans-serif;
 /* font-family: 'Montserrat', sans-serif;  */
}

html, body{
    background: #f3f4f5;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}


.main{
    
    background: #F3F5F7;
    background-color: red;
}

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    margin-top: 3.3rem;
    margin-left: 2rem;
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}