.rodape{
    width: 100%;
    background: var(--black);
    margin-bottom: 0;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

   

}

.rodape__texto{
    color: var(--white);
    font-weight: 500;
}

@media screen and (min-width: 0){
    .rodape__texto{
        font-size: .75rem;
    }
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 900px){
 
}