.rodape{
    width: 100%;
    background: var(--black);
    margin-bottom: 0;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

   

}

.rodape__texto{
    color: var(--white);
    font-weight: 500;

}