.destaques{
    width: 100%;
    text-align: center;
    color: var(--black);
}

.destaques__grid{
    display: grid;
    gap: 1rem;
    row-gap: 2rem;
}

@media screen and (min-width: 0){
    .destaques__grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8, 1fr);
        margin: 0 auto;
        padding: 3rem;
    }
}

@media screen and (min-width: 768px){
    .destaques__grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 0 auto;
        padding: 3rem;
    }
}

@media screen and (min-width: 900px){
    .destaques__grid{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 3rem 4rem 3rem;
    }
}

@media screen and (min-width: 1200px){
    .destaques__grid{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2, 1fr);
    /* padding: 3rem 4rem 3rem; */
       
    }
}