.destaques{
    width: 100%;
    padding: 3rem 4rem 3rem;
    text-align: center;
    color: var(--black);
    /* grid-template-areas: 
    "card-background" "card-background" "card-background""card-background"
    "card-background" "card-background" "card-background" "card-background"; */

}

.destaques__grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    row-gap: 2rem;
}