.formCabecalho__input{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px ;
  height: 4rem;
  padding: 2.5%;
  margin: 2.5rem 0 2rem 0 ;
  width: 100%;
   
}

.formCabecalho__input::placeholder {
    color:#FFFFFF;
    /* margin-left: 2.75rem; */
    padding-left: 2.5rem; 
    opacity: 0.5;
  }

  .formCabecalho__box--icon{
    position: absolute;
    top:  2.9rem;
  }
